/*
 * hide inactive pages, and animate transitions
 */
@mixin page-transform-active-chunk($name, $dir, $opacity, $value) {
  $v: if($value == 0, 0, $value * 4rem);

  #{$name} {
    opacity: $opacity;
    transform: translate#{$dir }(#{$v});
  }
}

@mixin page-transform-active($name-from, $name-to, $dir, $from) {
  .page.#{$name-from}.active {
    @keyframes page-to-#{$name-to} {
      @include page-transform-active-chunk("from", $dir, 0, $from);
      @include page-transform-active-chunk("to", $dir, 1, 0);
    }

    animation: var(--speed4) page-to-#{$name-to} ease;
  }
}

.page.active {
  opacity: 1;
  position: inherit;
  display: block;
}

.page,
.modal:not(.active) .page.active,
.page:not(.active) .page.active {
  opacity: 0;
  position: absolute;
  display: none;
}

@include page-transform-active("top", "bottom", "Y", -1);
@include page-transform-active("bottom", "top", "Y", 1);
@include page-transform-active("right", "left", "X", 1);
@include page-transform-active("left", "right", "X", -1);
